/*page1*/
body {
color:black;
background-color:white;
background-image:url(https://d3isma7snj3lcx.cloudfront.net/optim/images/news/30/3050812127/super-smash-bros-ultimate-attrape-deja-la-couronne-au-royaume-uni-22def1b5__854_600.jpg);
background-repeat:no-repeat;
background-size:100%;
width:auto;
}
h1
{
    font-size :60px;
    color: white;
}
.haut
{
  font-size: 40px;
}
a{
  color:white
}

-------------------------------------------------------------------
/*page2*/
body {
color:black;
background-color:white;
background-image:url(https://o.aolcdn.com/images/dims?quality=85&image_uri=https%3A%2F%2Fo.aolcdn.com%2Fimages%2Fdims%3Fcrop%3D1711%252C971%252C0%252C0%26quality%3D85%26format%3Djpg%26resize%3D1600%252C908%26image_uri%3Dhttps%253A%252F%252Fs.yimg.com%252Fos%252Fcreatr-uploaded-images%252F2018-11%252F49672340-dde7-11e8-bfb3-56a5b5396165%26client%3Da1acac3e1b3290917d92%26signature%3Dd2fd9b9bc65e908657bdee6ba0c7a0f7dd349943&client=amp-blogside-v2&signature=4fde7485758c1f08614bc298c20a99636d6d4635);
background-repeat:no-repeat;
background-size:100%;
width:auto;
}
h1
{
    font-size:60px;
    color: black;
}
img{
  width:30%;
}
a{
color:white;
}
--------------------------------------------------------------------
/*page3*/
body {
color:black;
background-color:white;
background-image:url(https://i.imgur.com/QmaSkbo.jpg);
background-repeat:no-repeat;
background-size:100%;
width:auto;
}
h1
{
    font-size:60px;
    color: white;
}

