<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no">
<meta name="author" content="wawa">
<title>Hearthstone</title>
</head>
<center><b><h1>Hearthstone</h1></b></center>
<center>
<table>
  <table border = "1">
   <caption><h2><b>Diagramme</h2></b></caption>
   <tr>
       <td>attack</td>
   </tr>
       <td>health</td>
   </tr>
       <td>cost</td>
   </tr>
       <td>name</td>
   </tr>
       <td>durability</td>
   </tr>
       <td>artist</td>
    </tr>    
       <td> <input type="text" name= "monchamps" required placeholder="Entrez le nom de votre carte">
 	    <input type="date" name="maDate" required placeholder="Entrez la date"> 
	    <input type="color" name="couleur">
       </td>
 </table>
 </center>

 <center><video src="videoskatehtml.mp4" poster="viodeskatehtml.jpg" width="65%"
  controls loop></video></center>
