h1{
color : yellow;
}
.bleu{
}
body{
    font-family="gigi";
    font-size:10px;
    margin-top:10%;
    margin:30%;
}
.Degrade {
background-image:linear-gradient(white, black);
}

ul li {
display:none;
}
ul:hover li {
display:block;
position:relative;
top:0;
left:-25px;
}


