#liste {
  width: 100%;
  margin-left: 30%;
  padding: 1em;
  border: 2px solid #fff;
  color: #069;
  background: linear-gradient(to right,#E0EAF2 0,#FFFFFF 40em) repeat-x scroll 0 0 transparent;
  box-shadow: 0 0 10px #888;
}
#liste p {
  height: 2em;
  line-height: 2em;
}
#liste label {
  display: inline-block;
  width: 10em;
}
#liste label:after {
  content: ":";
  float: right;
  margin-right: 0.5em;
}

#liste select,
#liste option {
  cursor: pointer;
}
#liste select,
#liste input {
  box-sizing: border-box;
  width: 21em;
  margin: 0;
  padding: 0;
  border: 1px solid #888;
  border-radius: 2px;
  font: 1em/1.5 Verdana,sans-serif;
  color: #000;
}
#liste select option:first-child {
  font-style: italic;
  color: #888;
}
#liste select:disabled {
  background:transparent;
}
#liste .nombre {
  display: inline-block;
  width: 2em;
  text-align: right;
  font-size: 0.8em;
  font-style: italic;
  color: #888;
}
#liste input/*#prefecture*/{
  padding: 0 0 0 0.25em;
  background:transparent;
}
@media (max-width: 640px) {
  #liste {
    width:auto;
    margin-left:0;
  }
  #liste p {
    height:auto;
  }  
  #liste label {
    display: block;
  }
  #liste select,
  #liste input{
    width:100%;
  }
}
.indicatif  {
	position : relative;
	font-size: 15px ;
	left: 300;
	
}